venv/
secret_env
/.env
*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data*.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
*.sqlite

.idea/
*.parquet
development-local.ini
/docker-compose.yaml

/create_btc_wallet_and_descriptor.sh
/create_replenisher_wallet_and_descriptor.sh
/create_testnet_wallet.sh
/script.sh
/development_local.ini
/create_btc_backupwallet.sh
