{% extends "layout.jinja2" %}

{% block content %}
    <div class="content">
        <h1>Results</h1>
        <table class="display-table">
            <tr>
                    <th>Name</th>
                    <th>Chain</th>
                    <th>Balance DB</th>
                    <th>Balance Api</th>
            </tr>
            {% for display in displays %}

                <tr>
                    <td>{{ display.name }}</td>
                    <td>{{ display.chain_name }}</td>
                    <td>{{ display.balance_db }}
                    {% if display.pending_total != 0 %}
                    <br/>
                    With pending: {{ display.balance_db + display.pending_total }}
                    {% endif %}
                    </td>
                    <td>
                        {{ display.balance_api }}
                    </td>
                </tr>

        {% endfor %}
        </table>
    </div>
{% endblock %}
