{% extends "layout.jinja2" %}

{% block content %}
    <div class="content">
        <nav>
            <h2>Filter by source:</h2>
            <!-- filter by db or api datasource-->
                {% for method in display_methods %}

                    <a href={{ request.current_route_path(
                                _query={"filter": method.value})
                            }}>
                        {{ method.value }}
                    </a> |
                {% endfor %}
                <a href={{ request.current_route_path(
                                _query={"filter": ""})
                            }}>
                    All
                </a>
        </nav>
        <h1>Results</h1>
        {% for display in displays %}
            {% if not request.params.get("filter") or display.method ==  request.params.get("filter")%}
            <div class="display">
                <h3 class="name">{{ display.name }}</h3>
                <table class="display-content">
                <tr>
                    <th>Balance</th>
                    <th>Method</th>
                    <th>Chain</th>
                    {% if display.address %}
                        <th>Address</th>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ display.balance }}
                    {% if display.pending_total != 0 %}
                    <br/>
                    With pending: {{ display.balance + display.pending_total }}
                    {% endif %}
                    </td>
                    <td>{{ display.method.value }}</td>
                    <td>{{ display.chain_name }} <br/>
                        </td>
                    {% if display.address %}
                        <td class="address">{{ display.address }}</td>
                    {% endif %}
                </tr>
                </table>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
