{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>Bidirectional FastBTC Transfers <small>(RSK&rarr;BTC)</small></h1>
    <nav>
        Show
        {% for value in [10, 50, 1000] %}
            {% if loop.index0 != 0 %}| {% endif %}<a href="{{ request.current_route_path(_query={
                'filter': request.params.get('filter'),
                'count': value,
            }) }}">{{ value }}</a>
        {% endfor %}
        transfers
    </nav>
    <nav>
        Filters:
        <a href="{{ request.current_route_path(_query={
            'filter': '',
            'count': request.params.get('count'),
        }) }}">all</a> |
        <a href="{{ request.current_route_path(_query={
            'filter': 'unprocessed',
            'count': request.params.get('count'),
        }) }}">unprocessed</a> |
        <a href="{{ request.current_route_path(_query={
            'filter': 'ignored',
            'count': request.params.get('count'),
        }) }}">ignored</a>
    </nav>

    <div>
        <a href="#" style="float:right">top</a>
        <h2 id="{{ bridge_name }}">Last {{ transfers|length }} {{ filter_name }} transfers </h2>
    </div>
    <p>
        {% if updated_on %}
            Updated <time class="timeago" datetime="{{ updated_on }}">{{ updated_on }}</time>
        {% else %}
            Never updated.
        {% endif %}
    </p>

    <table class="table mb-4">
        <thead>
            <tr>
                <th></th>
                <th>amount</th>
                <th>status</th>
                <th>timestamps</th>
                <th>details</th>
            </tr>
        </thead>
        <tbody>
            {% for transfer in transfers  %}
                <tr>
                    <td>
                        {% if transfer.ignored %}
                            <i
                                class="glyphicon glyphicon-question-sign"
                                title="ignored"
                                style="color: yellow"
                            ></i>
                        {% elif transfer.was_processed %}
                            <i class="glyphicon glyphicon-ok" title="processed"></i>
                        {% elif transfer.is_late() %}
                            <i
                                class="glyphicon glyphicon-remove"
                                title="not processed, late"
                                style="color: red"
                            ></i>
                        {% endif %}
                    </td>
                    <td
                        title="{{  transfer.total_amount_satoshi }} sat"
                    >
                        <code>{{ transfer.formatted_amount }}&nbsp;BTC</code><br/>
                    </td>
                    <td>
                        {% if transfer.bitcoin_tx_id %}
                            <a href="{{ btc_explorer_base_url }}/tx/{{ transfer.bitcoin_tx_id }}" target="_blank">
                                {{ transfer.status.name }}
                            </a>
                        {% else %}
                            {{ transfer.status.name }}
                        {% endif %}
                    </td>
                    <td>
                        <small>
                            initiated <time class="timeago" datetime="{{ transfer.initiated_on.isoformat() }}">{{ transfer.initiated_on }}</time><br/>
                            {% if transfer.marked_as_sending_on %}
                                marked as sending
                                <time class="timeago" datetime="{{ transfer.marked_as_sending_on.isoformat() }}">{{ transfer.marked_as_sending_on }}</time><br/>
                            {% endif %}
                            {% if transfer.marked_as_mined_on %}
                                marked as mined
                                <time class="timeago" datetime="{{ transfer.marked_as_mined_on.isoformat() }}">{{ transfer.marked_as_mined_on }}</time><br/>
                            {% endif %}
                            {% if transfer.refunded_or_reclaimed_on %}
                                refunded or reclaimed
                                <time class="timeago" datetime="{{ transfer.refunded_or_reclaimed_on.isoformat() }}">{{ transfer.refunded_or_reclaimed_on }}</time><br/>
                            {% endif %}
                            updated <time class="timeago" datetime="{{ transfer.updated_on.isoformat() }}">{{ transfer.updated_on }}</time><br/>
                            first seen <time class="timeago" datetime="{{ transfer.created_on.isoformat() }}">{{ transfer.created_on }}</time>
                        </small>
                    </td>
                    <td class="details">
                        <span>TransferID:</span><code>{{ transfer.transfer_id }}</code><br/>
                        <span>RskAddr:</span><code>{{ transfer.rsk_address }}</code><br/>
                        <span>BtcAddr:</span><code>{{ transfer.bitcoin_address }}</code><br/>
                        <span>EventTx:</span><code>{{ transfer.event_transaction_hash }}</code><br/>
                        {% if transfer.marked_as_sending_transaction_hash %}
                            <span>SendingTx:</span><code>{{ transfer.marked_as_sending_transaction_hash }}</code><br/>
                        {% endif %}
                        {% if transfer.marked_as_mined_transaction_hash %}
                            <span>MinedTx:</span><code>{{ transfer.marked_as_mined_transaction_hash }}</code><br/>
                        {% endif %}
                        {% if transfer.refunded_or_reclaimed_transaction_hash %}
                            <span>RefundTx:</span><code>{{ transfer.refunded_or_reclaimed_transaction_hash }}</code><br/>
                        {% endif %}
                        {% if transfer.bitcoin_tx_id %}
                            <span>BitcoinTx:</span><code>{{ transfer.bitcoin_tx_id }}</code><br/>
                        {% endif %}
                        {% if transfer.transfer_batch_size %}
                            <span>BatchSize:</span><code>{{ transfer.transfer_batch_size }}</code><br/>
                        {% endif %}
                    </td>
                </tr>
            {% endfor  %}
        </tbody>
    </table>
</div>
{% endblock content %}
