<!DOCTYPE html>
<html lang="{{request.locale_name}}">
{% set cache_breaker=3 %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sovryn Bridge Monitor">
    <meta name="author" content="Sovryn">

    <link rel="shortcut icon" href="{{request.static_url('bridge_monitor:static/pyramid-16x16.png')}}">

    <title>Sovryn Bridge Monitor</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this scaffold -->
    {# TODO: make cachebreaker automatic #}
    <link href="{{request.static_url('bridge_monitor:static/theme.css', _query={'cache': cache_breaker})}}" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <nav>
        <a href="{{ request.route_path('bridge_transfers') }}">Token bridge</a> |
        <a href="{{ request.route_path('bidirectional_fastbtc') }}">Bidirectional FastBTC</a> |
        <a href="{{ request.route_path('fastbtc_in') }}">FastBTC-in</a> |
        <a href="{{ request.route_path('replenisher') }}">Replenisher</a> |
        <a href="{{ request.route_path('pnl') }}">PnL</a>
    </nav>
</div>

<div class="container">
    {% block content %}
        <p>No content</p>
    {% endblock content %}
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{request.static_url('bridge_monitor:static/timeago.js')}}"></script>
<script src="{{request.static_url('bridge_monitor:static/script.js', _query={'cache': cache_breaker})}}"></script>
</body>
</html>
