{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>Profit and Loss</h1>
    {# TODO: enable filters on the view #}
    <nav>
        Time period
        {% for option in time_filter_options %}
            {% if loop.index0 != 0 %}| {% endif %}<a href="{{ request.current_route_path(_query=option.query) }}">
            {{ option.label }}
        </a>
        {% endfor %}
        <br/>
        All timestamps are UTC. FastBTC-in transfers are only counted starting from {{ earliest_timestamps.fastbtc_in }}.
    </nav>
    {#
    <nav>
        Filters:
        <a href="{{ request.current_route_path(_query={
            'filter': '',
            'count': request.params.get('count'),
        }) }}">all</a> |
        <a href="{{ request.current_route_path(_query={
            'filter': 'unprocessed',
            'count': request.params.get('count'),
        }) }}">unprocessed</a> |
        <a href="{{ request.current_route_path(_query={
            'filter': 'ignored',
            'count': request.params.get('count'),
        }) }}">ignored</a>
    </nav>
    #}

    <div>
        <h3>
            {% if start and end  %}
                Profit and loss between {{ start }} and {{ end }}
            {% elif start %}
                Profit and loss since {{ start }}
            {% elif end %}
                Profit and loss until {{ end }}
            {% else %}
                Profit and loss from the beginning*<br/>
                <small>*FastBTC-in transfers are only counted starting from {{ earliest_timestamps.fastbtc_in }}</small>
            {% endif %}
        </h3>
    </div>

    <div>
        <a href="#" style="float:right">top</a>
        <h3 id="summary">Summary</h3>
    </div>

    {#  TODO: calculate these and show from the view#}
    {#
    <p>
        {% if updated_on %}
            Updated <time class="timeago" datetime="{{ updated_on }}">{{ updated_on }}</time>
        {% else %}
            Never updated.
        {% endif %}
    </p>
    #}

    <table class="table mb-4">
        <thead>
            <tr>
                <th>service</th>
                <th>transfer volume</th>
                <th>fees paid by users</th>
                <th>transaction costs</th>
                <th>profit/loss</th>
            </tr>
        </thead>
        <tbody>
            {% for calculation in by_service + [totals] %}
            <tr
                {%  if loop.last %}
                    style="font-weight: bold;"
                {% endif %}
            >
                <td>
                    {% if calculation.service == "bidi_fastbtc" %}
                        Bidirectional FastBTC (RSK&rarr;BTC)
                    {% elif calculation.service == "fastbtc_in" %}
                        FastBTC-in (BTC&rarr;RSK)
                    {% else  %}
                        {{ calculation.service  }}
                    {% endif %}
                </td>
                <td
                    title="{{ calculation.volume_btc }} BTC"
                >
                    <code>
                        {{ "%.6f BTC"|format(calculation.volume_btc) }}
                    </code>
                </td>
                <td
                    title="{{ calculation.gross_profit_btc }} BTC"
                >
                    <code>
                        {{ "%.6f BTC"|format(calculation.gross_profit_btc) }}
                    </code>
                </td>
                <td
                    title="{{ calculation.cost_btc }} BTC"
                >
                    <code>
                        {{ "%.6f BTC"|format(calculation.cost_btc) }}
                    </code>
                </td>
                <td
                    title="{{ calculation.net_profit_btc }} BTC"
                >
                    <code>
                        {{ "%.6f BTC"|format(calculation.net_profit_btc) }}
                    </code>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="#" style="float:right">top</a>
        <h3 id="details">Details</h3>
    </div>
    {% if not show_details  %}
        <p>
            Details are hidden because the selected time period is too long. Select a shorter time period (less than
            100 days) or <a href="{{ request.current_route_path(_query={
                'show_details': '1',
                'start': start.isoformat() if start else None,
                'end': end.isoformat() if end else None,
            }) }}">show details anyway</a>
            (will be slow)
        </p>
    {%  elif not details %}
        <p>
            No details to show.
        </p>
    {% endif  %}
    {% if details and show_details %}
        <table class="pnl-details table mb-4">
            <thead>
                <tr>
                    <th>time</th>
                    <th>service</th>
                    <th>num tx</th>
                    <th>transfer volume</th>
                    <th>fees paid by users</th>
                    <th>transaction costs</th>
                    <th>profit/loss</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details %}
                    <tr
                        id="detail-{{ detail.id }}"
                        data-detail-id="{{ detail.id }}"
                    >
                        <td>
                            {{ detail.timestamp }}
                        </td>
                        <td>
                            {{ detail.service }}
                        </td>
                        <td>
                            {{ detail.transactions|length }}
                        </td>
                        <td
                            title="{{ detail.volume_btc }} BTC"
                        >
                            <code>
                                {{ "%.6f BTC"|format(detail.volume_btc) }}
                            </code>
                        </td>
                        <td
                            title="{{ detail.gross_profit_btc }} BTC"
                        >
                            <code>
                                {{ "%.6f BTC"|format(detail.gross_profit_btc) }}
                            </code>
                        </td>
                        <td
                            title="{{ detail.cost_btc }} BTC"
                        >
                            <code>
                                {{ "%.6f BTC"|format(detail.cost_btc) }}
                            </code>
                        </td>
                        <td
                            title="{{ detail.net_profit_btc }} BTC"
                        >
                            <code>
                                {{ "%.6f BTC"|format(detail.net_profit_btc) }}
                            </code>
                        </td>
                        <td>
                            <a
                                href="#"
                                class="show-detail-transactions"
                                data-detail-id="{{ detail.id }}"
                            >
                                show txs
                            </a>
                        </td>
                    </tr>
                    <tr
                        class="detail-transactions-wrapper"
                        data-detail-id="{{ detail.id }}"
                    >
                        <td colspan="8">
                        <table class="table">
                            <thead>
                                <tr
                                    class="detail-transaction-header"
                                    data-detail-id="{{ detail.id }}"
                                >
                                    <th>
                                        tx time
                                    </th>
                                    <th>
                                        tx chain
                                    </th>
                                    <th colspan="3">
                                        tx hash
                                    </th>
                                    <th>
                                        tx cost
                                    </th>
                                    <th colspan="2">
                                        comment
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for tx in detail.transactions %}
                                <tr
                                    class="detail-transaction"
                                    data-detail-id="{{ detail.id }}"
                                >
                                    <td>
                                        {{ tx.timestamp }}
                                    </td>
                                    <td>
                                        {{ tx.transaction_chain }}
                                    </td>
                                    <td colspan="3">
                                        <a
                                            href="{{ get_explorer_tx_url(tx.transaction_chain, tx.transaction_id) }}"
                                            target="_blank"
                                        >
                                            {{ tx.transaction_id }}
                                        </a>
                                    </td>
                                    <td
                                        title="{{ tx.cost_btc }} BTC"
                                    >
                                        <code>{{ "%.6f BTC"|format(tx.cost_btc) }}</code>
                                    </td>
                                    <td colspan="2">
                                        {{ tx.comment }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock content %}
