{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>Sanity Check</h1>
    <nav>
        <div
            style="margin-bottom: .5em;"
        >
        Time period
        {% for option in time_filter_options %}
            {% if loop.index0 != 0 %}| {% endif %}<a href="{{ request.current_route_path(_query=option.query) }}">
            {{ option.label }}
        </a>
        {% endfor %}
        </div>

        <form
            style="margin-bottom: .5em;"
            method="GET"
            action="{{ request.current_route_path() }}"
        >
            Start <input type="date" name="start" value="{{ start.isoformat() if start else '' }}" placeholder="start date">
            End <input type="date" name="end" value="{{ end.isoformat() if end else '' }}" placeholder="end date">
            <button
                type="submit"
            >Filter</button>
        </form>
    </nav>

    <div>
        <h3>
            {% if start and end  %}
                Sanity check between {{ start }} and {{ end }}
            {% elif start %}
                Sanity check since {{ start }}
            {% elif end %}
                Sanity check until {{ end }}
            {% else %}
                Sanity check from the beginning
            {% endif %}
        </h3>
    </div>

    {% if totals %}
        <table class="table">
            <thead>
            <tr>
                {% for name in totals.keys() %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for value in totals.values() %}
                    <td>{{ "%.6f"|format(value) }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endif %}

    {% if sanity_check %}
        <pre>
formula  = {{ sanity_check['formula'] }}
expanded = {{ sanity_check['expanded'] }}
value    = {{ sanity_check['value'] }}</pre>
        <br>
    {% endif %}


    <div>
        <br>
        <h3>Parameters</h3>
        <form
            class="mb-4"
            method="POST"
            action="{{ request.current_route_path() }}"
        >
            <table class="table">
                <tbody>
                    {% for var in form_variables %}
                        <tr>
                            <th>{{ var.title }}</th>
                            <td>
                                <input
                                    type="number"
                                    name="{{ var.name }}"
                                    value="{{ "%.6f"|format(var.value) if (var.value or var.value == 0) else '' }}"
                                    step="0.000001"
                                    required
                                />
                            </td>
                            <td>
                                {% if var.value_getter_url %}
                                    <button
                                        type="button"
                                        data-fetchvalue-url="{{ var.value_getter_url }}"
                                        data-fetchvalue-input-name="{{ var.name }}"
                                        data-fetchvalue-ret-attribute="balance_decimal"
                                    >
                                        Fetch
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {{ var.help_text or '' }}
                                {% if var.name == "pnl" %}
                                    <button type="button" onclick="$('#pnl-details').toggle()">Details</button>
                                    <div id="pnl-details" style="display: none;">
                                        <table class="table" style="background-color: inherit">
                                            <thead>
                                            <tr>
                                                <th>name</th>
                                                <th>transfer volume</th>
                                                <th>fees paid by users</th>
                                                <th>transaction costs</th>
                                                <th>profit/loss</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for row in pnl_rows %}
                                                <tr>
                                                    <td>{{ row.name }}</td>
                                                    <td>{{ "%.6f"|format(row.volume_btc) }}</td>
                                                    <td>{{ "%.6f"|format(row.gross_profit_btc) }}</td>
                                                    <td>{{ "%.6f"|format(row.cost_btc) }}</td>
                                                    <td>{{ "%.6f"|format(row.net_profit_btc) }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button
                type="submit"
            >
                Calculate sanity check
            </button>
        </form>

        <script>
            (function() {
                function fetchValue(button, url, inputName, retAttribute) {
                    const input = document.querySelector(`input[name="${inputName}"]`);
                    console.log('button');
                    console.log(button);
                    const origText = button.textContent;
                    button.disabled = true;
                    button.textContent = 'Fetching...';
                    fetch(url)
                        .then(r => r.json())
                        .then(data => input.value = data[retAttribute])
                        .catch(err => {
                            console.error(err);
                            alert('Error fetching value.')
                        })
                        .finally(() => {
                            button.disabled = false;
                            button.textContent = origText;
                        });
                }

                document.querySelectorAll('button[data-fetchvalue-url]').forEach(button => {
                    const url = button.getAttribute('data-fetchvalue-url');
                    const inputName = button.getAttribute('data-fetchvalue-input-name');
                    const retAttribute = button.getAttribute('data-fetchvalue-ret-attribute');
                    button.addEventListener('click', function(e) {
                        e.preventDefault();
                        fetchValue(button, url, inputName, retAttribute);
                    });
                });
            }());
        </script>
    </div>
</div>
{% endblock content %}
