{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>Sanity Check</h1>
    <nav>
        <div
            style="margin-bottom: .5em;"
        >
        Time period
        {% for option in time_filter_options %}
            {% if loop.index0 != 0 %}| {% endif %}<a href="{{ request.current_route_path(_query=option.query) }}">
            {{ option.label }}
        </a>
        {% endfor %}
        </div>

        <form
            style="margin-bottom: .5em;"
            method="GET"
            action="{{ request.current_route_path() }}"
        >
            Start <input type="date" name="start" value="{{ start.isoformat() if start else '' }}" placeholder="start date">
            End <input type="date" name="end" value="{{ end.isoformat() if end else '' }}" placeholder="end date">
            <button
                type="submit"
            >Filter</button>
        </form>
    </nav>

    <div>
        <h3>
            {% if start and end  %}
                Sanity check between {{ start }} and {{ end }}
            {% elif start %}
                Sanity check since {{ start }}
            {% elif end %}
                Sanity check until {{ end }}
            {% else %}
                Sanity check from the beginning
            {% endif %}
        </h3>
    </div>

    <div>
        <h3>PnL</h3>
        <table class="table mb-4">
            <thead>
            <tr>
                <th>name</th>
                <th>transfer volume</th>
                <th>fees paid by users</th>
                <th>transaction costs</th>
                <th>profit/loss</th>
            </tr>
            </thead>
            <tbody>
            {% for row in pnl_rows %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ "%.6f"|format(row.volume_btc) }}</td>
                    <td>{{ "%.6f"|format(row.gross_profit_btc) }}</td>
                    <td>{{ "%.6f"|format(row.cost_btc) }}</td>
                    <td>{{ "%.6f"|format(row.net_profit_btc) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Balances/Manual transfers</h3>
        <table class="table mb-4">
            <thead>
            <tr>
                <th>name</th>
                <th>start balance</th>
                <th>end balance</th>
                <th>manual in</th>
                <th>manual out</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ "%.6f"|format(row.start_balance) }}</td>
                    <td>{{ "%.6f"|format(row.end_balance) }}</td>
                    <td>{{ "%.6f"|format(row.manual_in) }}</td>
                    <td>{{ "%.6f"|format(row.manual_out) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Totals</h3>
        <table class="table mb-4">
            <thead>
            <tr>
                {% for name in totals.keys() %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for value in totals.values() %}
                    <td>{{ "%.6f"|format(value) }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>

        <h3>Sanity check</h3>
        <pre>
formula  = {{ sanity_check['formula'] }}
expanded = {{ sanity_check['expanded'] }}
value    = {{ sanity_check['value'] }}</pre>
    </div>
    <div>
        <strong>Debug info:</strong>
    </div>
    <pre>{{ block_times }}</pre>
</div>
{% endblock content %}
