@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html {
  --sovryn-yellow: #fec004;
  --sovryn-black: #161616;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: var(--sovryn-black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
button, input, optgroup, select, textarea {
  color: black;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
