@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html {
  --sovryn-yellow: #fec004;
  --sovryn-black: #161616;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: var(--sovryn-black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
button, input, optgroup, select, textarea {
  color: black;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

td.details {
  font-size: smaller;
}
td.details span {
  display: inline-block;
  vertical-align: top;
  min-width: 60px;
}
td.details code {
  display: inline-block;
  vertical-align: top;
  max-width: 430px;
  word-wrap: break-word;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  background-color: transparent;
  border-radius: 0;
}
code.vote-command {
  padding-left: 0;
  padding-right: 0;
  max-width: 460px;
  display: block;
  word-break: break-word;
}

/* PnL */
.detail-transactions-wrapper {
  display: none;
  padding-top: 0;
}
.detail-transactions-wrapper table.table {
  background-color: transparent;
}
.detail-transactions-wrapper td,
.detail-transactions-wrapper th {
  /* this hits the wrapper td and the td/th inside the table */
  border-color: #333 !important;
  color: #999;
  font-size: small;
}
/* Sanity check page*/
#main-submit {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
}

/*Balances page*/
 .display-table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 10px;
 }

 .display-table th {
   padding: 15px 0;
   text-align: center;
 }

 .display-table td {
   padding: 10px 5px;
   border: rgba(255, 255, 255, 0.33) 1px solid;
   text-align: center;
 }

.entries {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.entries th {
    padding: 15px 0;
    text-align: center;
}
.entries td {
    padding: 1px 10px;
    border: rgba(255, 255, 255, 0.33) 1px solid;
    text-align: center;
}

.entries tbody tr:nth-child(odd) {
    background-color: rgba(246, 175, 75, 0.06);
}

.submit-button {
    display: inline-block;
}