@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html {
  --sovryn-yellow: #fec004;
  --sovryn-black: #161616;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: var(--sovryn-black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
button, input, optgroup, select, textarea {
  color: black;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

td.details {
  font-size: smaller;
}
td.details span {
  display: inline-block;
  vertical-align: top;
  min-width: 60px;
}
td.details code {
  display: inline-block;
  vertical-align: top;
  max-width: 430px;
  word-wrap: break-word;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  background-color: transparent;
  border-radius: 0;
}
code.vote-command {
  padding-left: 0;
  padding-right: 0;
  max-width: 460px;
  display: block;
  word-break: break-word;
}

/* PnL */
.detail-transactions-wrapper {
  display: none;
  padding-top: 0;
}
.detail-transactions-wrapper table.table {
  background-color: transparent;
}
.detail-transactions-wrapper td,
.detail-transactions-wrapper th {
  /* this hits the wrapper td and the td/th inside the table */
  border-color: #333 !important;
  color: #999;
  font-size: small;
}
/* Sanity check page*/
#main-submit {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
}

/*Balances page*/
.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid white;
}

.display:last-child {
  border-bottom: 1px solid white;
}

.display-content {
  width: 90%;
  padding: 7px 0;
  table-layout: fixed;
}

.display td {
  word-wrap: anywhere;
}
.display .balance {
  font-weight: bold;
}

.display .address {
  font-size: 0.9em;
}